process {

    withName: 'CREATINGDICTFILE' {
        publishDir = [
            path: { $"{params.outdir}/REF/" },
            mode: params.publishDir_mode,
            pattern: "*.dict"
    ]
    }

    withName: 'INDEX' {
        publishDir = [
            path: { "${params.outdir}/REF/" },
            mode: params.publishDir_mode,
            pattern: "*.fai"
        ]
    }

    withName: 'FASTQC' {
        publishDir = [
           [ path: {"${params.outdir}/FASTQC/" },
            mode: params.publishDir_mode,
            pattern: '*.{html, zip}],
        ]
    }

    withName: 'BWA_INDEXING' {
        publishDir = [
            path: { "${params.outdir}/REF/" },
            mode: params.publishDir_mode,
            pattern: "*.{amb, ann, bwt, pac, sa}",
        ]
    }

    withName: 'BWA_MEM' {
        publishDir = [
            path: { "${params.outdir}/bams/" },
            mode: params.publishDir_mode,
            pattern: "*.bam"
        ]
    }

}